body{
    color:#F4F4F8 ;
    background: #2A2C41;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.general{
    border-style: groove;
    text-align: center;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.24);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    font-size: large;
    align-items: center;
    box-shadow: 25px 25px 10px rgb(43, 42, 42);
    padding-bottom: 100px;
}
input{
    border-radius: 10px;
    padding-bottom: 5px;
}

label ,p{
    font-size: 25px;
}
h1{
    color:#FF724C;
}
.general:hover{
    
    border-radius: 10px;
    box-shadow: none;
}
.ib{
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 100px;
    padding-top: 15px;
    padding-right: 100px;
}
.button{
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}
.button:hover{
    border: none;
}
a{
    text-decoration-line: none;
    color:#F4F4F8 ;
}
a:hover{
    text-decoration-line: underline;
}